/******************* Global Flex ************************/
/******************* Like Icon ************************/
/******************* Animation ************************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:100,900i");
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinicon {
  from, to {
    -webkit-transform: rotateZ(-180deg) rotateY(0deg) rotateZ(0deg);
  }
  15% {
    -webkit-transform: rotateZ(-90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}
@keyframes spinicon {
  from, to {
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
  }
  15% {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes right-entrance {
  from, to {
    right: -10%;
  }
  100% {
    right: 0%;
  }
}
@keyframes right-entrance {
  from, to {
    right: -10%;
  }
  100% {
    right: 0%;
  }
}
@-webkit-keyframes menu-delay {
  from, to {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes menu-delay {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  background-color: white;
  font-family: Roboto;
  box-sizing: border-box;
  max-width: 1024px;
  min-width: 320px;
  width: 100%;
  margin: auto;
}

/******************* Boxing Element************************/
.boxing, #fonctionnement {
  box-sizing: border-box;
  padding: 10px 0px 20px 40px;
}

/******************* COLORED BUTTON ************************/
.colored-button {
  color: white;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 15px;
  font-weight: 400;
  padding: 15px 30px 15px 30px;
  margin-bottom: 40px;
  border-radius: 30px;
  display: inline-block;
}
.colored-button:hover {
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/******************* NEW MENU ************************/
.new-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row-reverse nowrap;
}
.new-menu p {
  box-sizing: border-box;
  position: absolute;
  align-self: flex-end;
  width: 100px;
  height: 30px;
  font-weight: 900;
  background-color: #99E2D0;
  color: #32b091;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
  margin: 0px 10px -45px 0px;
}

/******************* MENU ************************/
.menu-title {
  font-weight: 500;
}
.menu-title::after {
  content: "";
  position: absolute;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 3px;
  width: 45px;
  background: #99E2D0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  margin-top: 3px;
}

.menus {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  position: relative;
  animation: menu-delay 3s both;
}
.menus .menus_card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  min-width: 200px;
  max-width: 95%;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menus .menus_card .menus_card_desc {
  width: 90%;
  min-width: 0;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 900;
}
.menus .menus_card .menus_card_desc .menus_card_desc_name {
  width: 100%;
  margin-left: auto;
  font-weight: 900;
}
.menus .menus_card .menus_card_desc span {
  font-size: 13px;
  font-weight: 500;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus .menus_card .menus_card_selection {
  justify-content: center;
  align-items: center;
  color: #737373;
  font-size: larger;
  width: 15%;
  color: white;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  animation: right-entrance 1s both;
  display: none;
}
.menus .menus_card .menus_card_selection i {
  -webkit-animation-name: "spinicon";
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 1s;
  animation-name: "spinicon";
  animation-timing-function: ease;
  animation-duration: 1s;
}
.menus .menus_card:hover .menus_card_selection {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.menus .load--1 {
  animation-delay: 666.6666666667ms;
}
.menus .load--2 {
  animation-delay: 1333.3333333333ms;
}
.menus .load--3 {
  animation-delay: 2000ms;
}
.menus::after {
  content: " ";
  margin-bottom: 20px;
}

/******************* HEADER ************************/
header .logo-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 60px;
}
header .logo-header a {
  font-size: 20px;
  color: black;
  margin-right: auto;
  margin-left: 20px;
}
header .logo-header img {
  margin-right: auto;
}
header .menu-header {
  background-image: url("./../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
header .menu-header div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #F2F2F2;
  padding-top: 30px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  font-family: "Shrikhand";
  font-size: 25px;
  margin-bottom: -2px;
}
header .menu-header div i {
  font-size: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row-reverse nowrap;
  font-size: 20px;
  text-shadow: 0 0 3px black;
  color: white;
  transition: 1s;
}
header .menu-header div i:hover {
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* FOOTER ************************/
footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  background-color: #2c2c2c;
  padding: 40px;
  /*width: 100%;*/
}
footer img {
  width: 150px;
  filter: brightness(0) invert(1);
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  line-height: 35px;
}
footer ul li i {
  color: white;
  padding-right: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

/******************* LOADER ************************/
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  animation: loader 2s 3s both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) 5;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #9356DC;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

/******************* HEADER ACCUEIL ************************/
.home-header {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
}
.home-header_logo {
  padding: 20px 0px 10px 0px;
}
.home-header_localisation {
  background-color: #e5e5e5;
  width: 100%;
  text-align: center;
  border: 0;
  border-top-width: 3px;
  border-style: solid;
  border-image: linear-gradient(0deg, #e5e5e5 0%, #cccccc 100%) 1;
}
.home-header_localisation pre {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: bolder;
}
.home-header_desc {
  background-color: #F2F2F2;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.home-header_desc h1 {
  font-size: 25px;
  font-weight: 900;
}
.home-header_desc h4 {
  font-size: 20px;
  font-weight: 500;
}

/******************* FONCTIONNEMENT ************************/
#fonctionnement {
  width: 100%;
}
#fonctionnement .steps {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}
#fonctionnement .steps_template {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  min-width: 200px;
  max-width: 50%;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  padding: 30px;
  text-decoration: none;
  background: #F2F2F2;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#fonctionnement .steps_template span {
  position: absolute;
  background: #9356DC;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 3px 8px 3px 8px;
  border-radius: 50%/50%;
  z-index: 2;
  margin-left: -43px;
  margin-top: -5px;
}
#fonctionnement .steps_template i {
  color: #737373;
  font-size: larger;
  margin-top: -2px;
}
#fonctionnement .steps_template div {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 900;
  color: black;
}
#fonctionnement .steps_template--active {
  background: #e4d5f6;
}
#fonctionnement .steps_template--active i {
  color: #9356DC;
}
#fonctionnement .steps::after {
  content: " ";
  margin-bottom: 20px;
}

/******************* RESTAURANTS ************************/
#restaurants {
  background: #F2F2F2;
}
#restaurants h2 {
  padding: 30px 0px 0px 40px;
}
#restaurants .rest {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 80px;
  gap: 30px;
}
#restaurants .rest a {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  color: black;
  max-width: 360px;
  width: 90%;
  height: 280px;
}
#restaurants .rest a img {
  width: 100%;
  height: calc(100% - 80px);
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
#restaurants .rest a .rest-desc {
  box-sizing: border-box;
  padding: 10px 0px 0px 20px;
}
#restaurants .rest a .rest-desc span {
  font-weight: bolder;
  line-height: 30px;
}
#restaurants .rest a i {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row-reverse nowrap;
  font-size: 20px;
  text-shadow: 0 0 3px black;
  color: white;
  transition: 1s;
  margin-top: -30px;
  margin-right: 20px;
}
#restaurants .rest a i:hover {
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* MENU SECTIONS ************************/
#entree, #plats, #desserts {
  box-sizing: border-box;
  padding: 10px 0 0 10px;
  width: 100%;
  background: #F2F2F2;
}

/******************* CENTER COMMAND BUTTON ************************/
.command-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
}

@media only screen and (min-width: 900px) {
  /******************* FONCTIONNEMENT ************************/
  #fonctionnement .steps-container {
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 80px;
  }
  #fonctionnement .steps-container .step-template {
    max-width: 23%;
  }
}
@media (min-width: 700px) and (max-width: 1023px) {
  /******************* FONCTIONNEMENT ************************/
  #fonctionnement .steps-container {
    align-items: center;
  }

  #restaurants .rest-container a {
    width: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
