/******************* COLORS ************************/
/******************* Animation ************************/
/******************* Global Flex ************************/
/******************* Like Icon ************************/
/******************* Animations ************************/
/******************* Loader ************************/
/******************* Center of the page ************************/
/******************* LOADER ************************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:100,900i");
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/******************* Like Ico, ************************/
@-webkit-keyframes spinicon {
  from, to {
    -webkit-transform: rotateZ(-180deg) rotateY(0deg) rotateZ(0deg);
  }
  15% {
    -webkit-transform: rotateZ(-90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
  }
}
@keyframes spinicon {
  from, to {
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
  }
  15% {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
/******************* Menu Selection ************************/
@-webkit-keyframes right-in {
  from, to {
    width: 0;
    right: -15%;
  }
  100% {
    width: 15%;
    right: 0%;
  }
}
@keyframes right-in {
  from, to {
    width: 0;
    right: -15%;
  }
  100% {
    width: 15%;
    right: 0%;
  }
}
@-webkit-keyframes right-out {
  from, to {
    width: 15%;
    right: 0%;
  }
  100% {
    width: 0;
    right: -15%;
  }
}
@keyframes right-out {
  from, to {
    width: 15%;
    right: 0%;
  }
  100% {
    width: 0%;
    right: -15%;
  }
}
/******************* Menu apparition ************************/
@-webkit-keyframes menu-delay {
  from, to {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes menu-delay {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  background-color: white;
  font-family: Roboto;
  box-sizing: border-box;
  max-width: 1024px;
  min-width: 320px;
  width: 100%;
  margin: auto;
}

/******************* Boxing Element************************/
.boxing, #fonctionnement {
  box-sizing: border-box;
  padding: 1.3rem;
}

/******************* COLORED BUTTON ************************/
.colored-button {
  color: white;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1em;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  display: inline-block;
}
.colored-button:hover {
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/******************* NEW MENU ************************/
.new-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row-reverse nowrap;
}
.new-menu p {
  box-sizing: border-box;
  position: absolute;
  align-self: flex-end;
  width: 6.7rem;
  height: 2rem;
  font-weight: 900;
  background-color: #99E2D0;
  color: #32b091;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
  margin: 0 0.7rem -3rem 0;
}

/******************* MENU ************************/
.menu-title {
  font-weight: 500;
}
.menu-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 3rem;
  background: #99E2D0;
  margin-top: 3px;
}

.menus {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  animation: menu-delay 3s both;
}
.menus .menus_card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 0.9em;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menus .menus_card .menus_card_desc {
  width: 90%;
  padding: 0.7rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 900;
}
.menus .menus_card .menus_card_desc .menus_card_desc_name {
  width: 100%;
  margin-left: auto;
}
.menus .menus_card .menus_card_desc span {
  font-size: 0.9em;
  font-weight: 500;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus .menus_card .menus_card_selection {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: larger;
  color: white;
  background: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  transition: all 1s ease-in-out;
  right: -15%;
  width: 0;
}
.menus .menus_card:hover .menus_card_selection {
  right: 0;
  width: 15%;
}
.menus .menus_card:hover .menus_card_selection i {
  -webkit-animation-name: "spinicon";
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  animation-name: "spinicon";
  animation-timing-function: ease;
  animation-duration: 2s;
}
.menus .load--1 {
  animation-delay: 666.6666666667ms;
}
.menus .load--2 {
  animation-delay: 1333.3333333333ms;
}
.menus .load--3 {
  animation-delay: 2000ms;
}
.menus::after {
  content: " ";
  margin-bottom: 1.3rem;
}

/******************* HEADER ************************/
header .logo-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
header .logo-header a {
  font-size: 1.3em;
  color: black;
  margin-right: auto;
  margin-left: 1.3rem;
}
header .logo-header img {
  margin-right: auto;
}
header .menu1-bg {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
header .menu2-bg {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
header .menu3-bg {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
header .menu4-bg {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
header .menu-header {
  background-size: cover;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
}
header .menu-header div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F2F2F2;
  padding-top: 2rem;
  width: 100%;
  border-radius: 2.7rem 2.7rem 0 0;
  font-family: "Shrikhand";
  font-size: 1.6em;
  margin-bottom: -2px;
}
header .menu-header div i {
  font-size: 1.3em;
  padding-left: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  font-size: 1.3rem;
  text-shadow: 0 0 3px black;
  color: white;
  transition: 1s;
}
header .menu-header div i:hover {
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* FOOTER ************************/
footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  background-color: #2c2c2c;
  padding: 2.7rem;
}
footer img {
  width: 150px;
  filter: brightness(0) invert(1);
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  line-height: 2.2rem;
}
footer ul li i {
  color: white;
  padding-right: 0.7rem;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

@media (min-width: 1024px) {
  /******************* FONCTIONNEMENT ************************/
  #fonctionnement .steps {
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 2.7rem;
    justify-content: center;
  }
  #fonctionnement .steps_template {
    max-width: 24%;
  }

  /******************* MENU ************************/
  #entree, #plats, #desserts {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  #entree .menu-title::after, #plats .menu-title::after, #desserts .menu-title::after {
    position: relative;
    width: 100%;
  }
  #entree .menus, #plats .menus, #desserts .menus {
    width: 450px;
  }

  header .menu-header div {
    justify-content: center;
  }
}
@media (min-width: 700px) and (max-width: 1023px) {
  /******************* FONCTIONNEMENT ************************/
  #fonctionnement .steps {
    align-items: center;
  }

  #restaurants .rest a {
    width: 35%;
  }

  /******************* MENU ************************/
  #entree, #plats, #desserts {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  #entree .menu-title::after, #plats .menu-title::after, #desserts .menu-title::after {
    position: relative;
    width: 100%;
  }
  #entree .menus, #plats .menus, #desserts .menus {
    width: 450px;
  }
}
/******************* LOADER ************************/
.loader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  animation: loader 2s 3s both;
  z-index: 10000;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) 5;
  transform-origin: 2.7rem 2.7rem;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #9356DC;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

/******************* HEADER ACCUEIL ************************/
.home-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.home-header_logo {
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.45);
}
.home-header_logo img {
  padding: 1.3rem 0 0.7rem 0;
}
.home-header_localisation {
  background-color: #e5e5e5;
  width: 100%;
  text-align: center;
}
.home-header_localisation pre {
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: bolder;
}
.home-header_desc {
  width: 100%;
  text-align: center;
  background-color: #F2F2F2;
}
.home-header_desc h1 {
  font-size: 1.5em;
}
.home-header_desc h4 {
  font-size: 1.2em;
  font-weight: 500;
}

/******************* FONCTIONNEMENT ************************/
#fonctionnement .steps {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}
#fonctionnement .steps_template {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 1em;
  padding: 2rem;
  text-decoration: none;
  background: #F2F2F2;
  border-radius: 1.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#fonctionnement .steps_template span {
  position: absolute;
  background: #9356DC;
  color: white;
  padding: 3px 8px 3px 8px;
  border-radius: 50%/50%;
  margin-left: -43px;
  margin-top: -5px;
}
#fonctionnement .steps_template i {
  color: #737373;
  font-size: larger;
  margin-top: -2px;
}
#fonctionnement .steps_template div {
  margin-left: 1.2rem;
  font-weight: 900;
  color: black;
}
#fonctionnement .steps_template--active {
  background: #e4d5f6;
}
#fonctionnement .steps_template--active i {
  color: #9356DC;
}

/******************* RESTAURANTS ************************/
#restaurants {
  background: #F2F2F2;
  padding-bottom: 5.3rem;
}
#restaurants h2 {
  padding: 2rem 0 0 2.7rem;
}
#restaurants .rest {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
#restaurants .rest a {
  border-radius: 1.3rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  color: black;
  max-width: 360px;
  width: 90%;
  height: 280px;
}
#restaurants .rest a img {
  width: 100%;
  height: calc(100% - 5.2rem);
  object-fit: cover;
  border-radius: 1.3rem 1.3rem 0 0;
}
#restaurants .rest a .rest-desc {
  padding: 0.7rem 0px 0px 1.3rem;
}
#restaurants .rest a .rest-desc span {
  font-weight: bolder;
  line-height: 2rem;
}
#restaurants .rest a i {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  font-size: 1.3rem;
  text-shadow: 0 0 3px black;
  color: white;
  transition: 1s;
  margin-top: -2rem;
  margin-right: 1.2rem;
}
#restaurants .rest a i:hover {
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* MENU SECTIONS ************************/
#entree, #plats, #desserts {
  box-sizing: border-box;
  padding: 0.7rem 0.7rem 0 0.7rem;
  background: #F2F2F2;
}

/******************* CENTER COMMAND BUTTON ************************/
.command-button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
}

/*# sourceMappingURL=style.css.map */
