@media   (min-width: 1024px) {
/******************* FONCTIONNEMENT ************************/
    #fonctionnement  {
        & .steps {
            flex-flow: row wrap;
            width: 100%;
            padding-bottom: 40px ;
            &_template {
                max-width:24%
            }
        }
    }
/******************* MENU ************************/
    #entree, #plats, #desserts {
        @include flex;
        flex-flow: column nowrap;
        align-items: center;
        & .menu-title::after {
            position: relative;
            width: 100%;
        }
    
        & .menus {
            width: 450px;
        }
    
    }

    header {
        & .menu-header {
            & div {
                justify-content: center;
            }
        }
    }


}