@media  only screen and (min-width: 900px) {
/******************* FONCTIONNEMENT ************************/
    #fonctionnement  {
        & .steps-container {
            flex-flow: row wrap;
            width: 100%;
            padding-bottom: 80px ;
            & .step-template {
                max-width:23%
            }
        }
    }


}