/******************* FOOTER ************************/

footer {
    @include flex;
    flex-flow: column nowrap;
    background-color: #2c2c2c;  
    padding: 2.7rem;

    & img { width: 150px;filter: brightness(0) invert(1);}
    & ul {
        padding: 0;
        & li {
        list-style: none;
        line-height: 2.2rem;
            & i {
                color: white;
                padding-right: 0.7rem;
            }
            & a {
                text-decoration: none;
                color: white;
            }
        } 
    }
}
  