@media  (min-width: 700px) and (max-width: 1023px){

/******************* FONCTIONNEMENT ************************/
    #fonctionnement  {
        & .steps{
            align-items: center;
        }
    }


    #restaurants {
        & .rest-container {
            & a {
                width: 35%;
            }
        }
    }

/******************* MENU ************************/
    #entree, #plats, #desserts {
        @include flex;
        flex-flow: column nowrap;
        align-items: center;
        & .menu-title::after {
            position: relative;
            width: 100%;
        }

        & .menus {
            width: 450px;
        
        }

    }
}

