/******************* MENU ************************/
.menu-title {
    font-weight: 500;
    &::after { 
        content: "";
        display: block;
        height: 3px;
        width: 3rem; 
        background: $color-ter;
        margin-top: 3px;
      }      
}

.menus {
    @include flex;
    flex-flow: column nowrap;
    gap: 1rem;
    animation:menu-delay 3s both;
    
    & .menus_card {
        @include flex;
        @include nowrap;
        font-size: 0.9em;
        overflow: hidden;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        & .menus_card_desc {
            width: 90%;
            padding: 0.7rem;
            @include flex;
            @include wrap;
            justify-content: space-between;
            align-items: baseline;
            font-weight: 900;
            & .menus_card_desc_name {
                width: 100%;
                margin-left: auto;
            }
            & span {
                font-size: 0.9em;
                font-weight: 500;
                max-width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        }   
        & .menus_card_selection {
            @include flex;
            justify-content: center;
            align-items: center;
            position:relative;
            font-size: larger;
            color: white;
            background: $color-ter;
            border-radius: 0 1rem 1rem 0;          
            transition: all 1s ease-in-out;
            right: -15%;
            width: 0;
        }
        &:hover {
            & .menus_card_selection {
                right: 0;
                width:15%;
                & i { @include checkicon-animation("spinicon");  }
            }
        }
    }        
    @for $i from 1 through $num-menu {
        .load--#{$i} {
            animation-delay: calc($menu-anim-delay * $i);
        }
    }
    &::after {
        content: ' ';
        margin-bottom: 1.3rem;
    }
}

