body {
    background-color: white;
    font-family: Roboto;
    box-sizing: border-box;
    max-width: 1024px;
    min-width: 360px;
    width: 100%;
    margin: auto;
}
/******************* Boxing Element************************/
.boxing {
    padding: 10px 0px 20px 40px;
  }



