/******************* LOADER ************************/
.loader {
    @include flex;
    align-items:center;
    justify-content:space-evenly;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    animation: loader 2s 3s both;
    z-index: 10000;
  }

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    & div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) 5;
        transform-origin: 2.7rem 2.7rem;
        &:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $color-pri;
            margin: -4px 0 0 -4px;
            }
        &:nth-child(1) {@include loader-anim (-0.036s, 63px, 63px);}
        &:nth-child(2) {@include loader-anim (-0.072s, 68px, 56px);}
        &:nth-child(3) {@include loader-anim (-0.108s, 71px, 48px);}
        &:nth-child(4) {@include loader-anim (-0.144s, 72px, 40px);}
        &:nth-child(5) {@include loader-anim (-0.18s, 71px, 32px);}
        &:nth-child(6) {@include loader-anim (-0.216s, 68px, 24px);}
        &:nth-child(7) {@include loader-anim (-0.252s, 63px, 17px);}
        &:nth-child(8) {@include loader-anim (-0.288s, 56px, 12px);}
    }
}

/******************* HEADER ACCUEIL ************************/
.home-header {
    @include flex;
    flex-flow: column;
    align-items: center;

    &_logo {
        @include align-center;
        position: relative;
        box-shadow: 0px 5px 5px -2px rgb(0 0 0 / 45%);      
        & img {
            padding: 1.3rem 0 0.7rem 0;
        }
    }
    &_localisation {
        background-color: darken($back-color, 5%);
        @include align-center;
        & pre {
            font-family: "Roboto";
            font-size: 1.2em;
            font-weight: bolder;
        }
    }
    &_desc {
        @include align-center;
        background-color: $back-color;
        & h1 { font-size: 1.5em; }
        & h4 { font-size: 1.2em; font-weight: 500;}
    }
}

/******************* FONCTIONNEMENT ************************/
#fonctionnement {
    @extend .boxing;
    & .steps {
        @include flex;
        flex-flow: column nowrap;
        gap: 2rem;
        &_template {
            @include flex;
            @include nowrap;
            font-size: 1em;
            padding: 2rem;
            text-decoration: none;
            background: $back-color;
            border-radius: 1.3rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            & span {
                position: absolute;
                background: $color-pri;
                color:white;
                padding: 3px 8px 3px 8px;
                border-radius: 50% / 50%;
                margin-left: -43px;
                margin-top: -5px
            }
            & i { 
                color:darken($back-color, 50%);
                font-size: larger;
                margin-top: -2px
            }
            & div {
                margin-left: 1.2rem;
                font-weight: 900;
                color: black;
            }
            &--active {
                background: lighten($color-pri, 30%);
                & i { color:$color-pri;}
            }
        }

    }
}

/******************* RESTAURANTS ************************/
#restaurants {
    background: $back-color;
    padding-bottom: 5.3rem;

    & h2 { padding: 2rem 0 0 2.7rem; }
    & .rest {
        @include flex;
        @include wrap;
        justify-content: space-evenly;
        gap: 2rem;

        & a {
            border-radius: 1.3rem;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-decoration: none; 
            color:black;
            max-width: 360px;
            width: 90%;
            height: 280px;
            & img {
                width: 100%;
                height: calc(100% - 5.2rem);
                object-fit: cover;
                border-radius: 1.3rem 1.3rem 0 0;
              }
             .rest-desc {
                padding: 0.7rem 0px 0px 1.3rem;
    
                & span {
                    font-weight: bolder;
                    line-height: 2rem;
                }
            }
            & i {
                @include inactive-heart;
                margin-top: -2rem;
                margin-right: 1.2rem;
                &:hover {  @include active-heart; }  
            }
        }
    }
    



}


